# Ignore node_modules
node_modules/

isms-backend/node_modules/
isms-frontend/node_modules/

# Ignore environment files

.env
isms-backend/.env


# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build output
dist/
build/
